body {
    width: 100vw;
    height: 150vh;
    margin: 0;
    padding: 0;
}

/* Navbar style */
.navbar-custom {
    position: sticky;
    width: 100vw;
    height: 10vh;
    background-color: #F9EDE9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Orelega One', serif;
    font-size: 2.5vh;
    text-transform: uppercase;
    color: black;
}

.navbar-subheading {
    cursor: pointer;
    padding-top: 20px;
}

.navbar-subheading:hover {
    text-decoration: underline;
}

.imageLogo {
    width: 32.8rem;
    height: 3.5rem;
    flex-shrink: 0;
}

.imageLogo:hover {
    cursor: pointer;
}

.location-container {
    position: relative; 
    display: flex;          /* Use flexbox for layout */
    flex-direction: column; /* Stack children vertically */
    align-items: center;    /* Center horizontally */
}

.location-image {
    width: 128rem; /* Set the width */
    height: 16rem; /* Automatically adjust height */
    max-width: 100%; /* Prevents overflow */
    z-index: -1;
    filter: brightness(50%); /* Dim the image to make text stand out */
}

.location-heading {
    position: absolute;
    top: 25%;
    left: 49%;
    transform: translate(-50%, -50%); /* Center horizontally and vertically */
    color: #ffffff;
    text-transform: uppercase;
    font-family: Ovo, serif;
    font-size: 5.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    white-space: nowrap; /* Prevent text wrapping */
    z-index: 1; /* Ensures the text is above the image */
}

.location-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.card {
    margin: 5vh;
}

.location-text, .location-hours {
    display: flex;
    align-items: center;
    gap: 8px; /* Adds consistent spacing between icon and text */
}

.location-text {
    margin-right: auto;
}

.location-pin, .location-clock {
    width: 25px;
    height: 25px;
}

.address-title {
    color: black;
    font-size: 22px;
    font-family: Ovo, serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.address-details {
    color: black;
    font-size: 20px;
    font-family: Ovo, serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.5;
}

.location-hours p {
    margin: 0;
    margin-right: 5vh;
    color: #000;
    font-family: Ovo, serif;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
}

i, .location-pin, .location-clock {
    margin-right: 10px;
}